{# @var subjectType string #}
{# @var subject AbstractElement #}
{# @var action string #}
{# @var deeplink string #}
{# @var note_description string #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
{{ workflow_change_email_notification_text, subjectType ~ ' ' ~ subject.getFullPath(), subject.getId(), action, workflow.getName() }}<br>
{% if deeplink|trim is not empty %}
    <a href="{{ deeplink }}" target="_blank">{{ workflow_change_email_notification_deeplink }}</a><br>
{% endif %}
<br>

{% if note_description|trim is not empty %}
    <strong>{{ workflow_change_email_notification_note }}</strong>
    <p>{{ note_description }}</p>
{% endif %}
</body>
</html>
